# needed to prevent bad npm that has min-release-age but not exclude
engine-strict=true

min-release-age=14

# fast-uri 3.1.4 includes fixes for vulns. remove this when 3.1.4 is > 2wks  old
min-release-age-exclude[]=fast-uri

# minimatch 10.2.6 includes fixes for vulns. remove this when 10.2.6 is > 2wks  old
min-release-age-exclude[]=minimatch

# brace-expansion 5.0.8 includes fixes for vulns. remove this when 5.0.8 is > 2wks  old
min-release-age-exclude[]=brace-expansion